<div class="container-fluid">

  <div class="row text-center">
    <button class="btn btn-success btn-lg" type="button" ng-click="searchForItem()">
      Fetch Issues
    </button>
  </div>

<!-- Search result table -->  
  <div class="container"  ng-hide='results === "" || undefined' align="center">

    <table class="table" ng-table="resultsTable">
     
     <thead>
       <tr>
        <th class="text-center">
          Issue
        </th>
        <th class="text-center">
          Labels
        </th>
        <th class="text-center">
          User
        </th>
        <th class="text-center">
          Issue Body
        </th>
       </tr>  
     </thead> 

     <tbody>
      <tr dir-paginate="result in results|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
        <td class="col-sm-3 col-md-3 col-lg-3">
          <a href="#/issue/{{result.number}}">
            <p>
              Issue #{{result.number}} - {{result.title}}
            </p>
          </a>
        </td>
        
        <td class="col-sm-3 col-md-3 col-lg-3">
          <ul>
            <li ng-repeat="label in result.labels">
              {{label.name}}
            </li>
          </ul>
        </td>
        
        <td>
          <div class="text-center">
            <img ng-src="{{result.user.avatar_url}}" class="img-circle" height="50" width="50">
            <p>
              {{result.user.login}}
            </p>  
          </div>
        </td>

        <td class="col-sm-8 col-md-8 col-lg-8">
          <p>
            {{result.body | limitTo: 140}}{{result.body.length > 140 ? '...' : ''}}
          </p>
        </td>
      
      </tr>
     </tbody>

    </table>

    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true"> 
    </dir-pagination-controls>

  </div>

</div>