<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." ng-model="searchInput">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="searchForItem()">Search</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-->
  </div><!-- /.row -->

<!-- Search result table -->  
  <div class="container"  ng-hide='results === undefined' align="center">
    
    <h2>
      Search Results for {{searchInput}}
    </h2>

    <table class="table" ng-table="tableParams">
     
     <thead>
       <tr>
        <th>
          Item Picture
        </th>
        <th>
          Item Brand
        </th>
        <th>
          Item Type
        </th>
       </tr>  
     </thead> 

     <tbody>
      <tr ng-repeat="result in results">
        <td>
          <a href="#">
            <img ng-src="{{result.product.photo || 'No pic placeholder'}}">
          </a>
        </td>
        <td>
          {{result.brand.name}}
        </td>
        <td>
          {{result.product.name}}
        </td>
      </tr>
     </tbody>

    </table>

  </div>

</div>